body {
    font-family: Arial;
    background-color: #f4f6f9;
    text-align: center;
}

.container {
    background: white;
    width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid gray;
    padding: 8px;
}

.error {
    color: red;
}
